SPRING_PROFILES_ACTIVE=dev
EUREKA_SERVER_URL=http://localhost:8761/eureka/
CONFIG_SERVER_URL=http://localhost:8888
CONFIG_SERVER_USERNAME=config
CONFIG_SERVER_PASSWORD=config
CONFIG_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ZIPKIN_URL=http://localhost:9411/api/v2/spans
DB_USERNAME=fashionpin
DB_PASSWORD=fashionpin
